name: Release

on:
  push:
    branches:
      - main

jobs:
  build:
    continue-on-error: true
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Install buildtools
      run: pip install setuptools

    - uses: pnpm/action-setup@v4
      name: Install pnpm
      with:
        version: 9
        run_install: false

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'pnpm'

    - name: Install dependencies
      run: pnpm install

    - name: Run build Windows
      if: ${{ matrix.os == 'windows-latest' }}
      run: pnpm run build-windows

    - name: Run build MacOs
      if: ${{ matrix.os == 'macos-latest' }}
      run: pnpm run build-mac

    - name: Run build Linux
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: pnpm run build-linux
